@font-face {
    font-family: 'Anurati';
    font-style: normal;
    font-weight: normal;
    src: local('Anurati'), url('Anurati-Regular.otf') format('truetype');
}

html, body, main {
    margin: 0;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Anurati', serif;
    font-size: 72px;
    text-align: center;
    margin-bottom: .5rem;
    animation: slideFromTop 2s forwards ease-in-out;
}
h1 + span {
    font-size: larger;
    opacity: 0;
    animation: slideFromBottom .3s ease-in-out forwards 2s;
}
.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.planet button {
    opacity: 0;
    animation: slideFromBottom .3s ease-in-out forwards 2.5s;
}
.earth {
    background-image: url("earth.png");
}
.moon {
    background-image: url("moon.png");
}
.mars {
    background-image: url("mars.png");
}
p {
    margin-top: auto;
    max-width: 30rem;
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
    opacity: 0;
    animation: slideFromBottom .3s ease-in forwards 2.3s;
}
button {
    border: none;
    border-radius: 100px;
    margin-bottom: 3rem;
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    color: black;
    background-color: #0ff;
    padding: 0.75rem 2rem;
}
form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    position: fixed;
    top: 50%;
    right: 3rem;
    background-color: rgb(30,30,30);
    color: rgb(190,190,190);
}
form button {
    margin-top: 2rem;
    margin-bottom: 0;
}
.form-show {
    display: flex;
    animation: slideFromRight 2s forwards ease-in-out;
}
input {
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: none;
    margin-bottom: 1rem;
}
/*
*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #0ff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
}
@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-24px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translate(24px, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, -50%);
    }
}